/* body { */
/*   position: relative; */
/* } */
#body {
  height: 90%
  position: relative;
}
#message-holder {
  overflow-y: scroll;
  height: 225px;
}
.room {
  position: relative;
  font-family: Andale Mono, monospace;
  border: 1px solid silver;
  margin-top: 15px;
  max-height: 75%;
  box-sizing: border-box;
}

.room span { 
  padding: 2px 5px;
  display: inline-block;
  height: 1.2em;
  vertical-align: middle;
  text-overflow: wrap;
}

.room span.time {
  background-color: #fafafa;
  border-right: 1px solid gray;
}

.room span.user {
  background-color: #f8f8f8;
  border-right: 1px solid gray;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.room span.message {
  display: inline-block;
}

.room .chat-form {
  position: relative;
  /* padding-bottom: 25px; */
  margin-top: 2em;
}


.chat-form .button-wrapper {
  position: absolute;
  width: 75;
  bottom: 0px;
  /* background-color: blue; */
  height: 1.5em;
  border-top: 1px solid lightgray;
}

.room form input[type="button"] {
  width: 100%;
  background: darkgray;
  color: white;
  border: 0;
  height: 100%;
}

.chat-form .input-wrapper {
  position: absolute;
  left: 75px;
  right: 0px;
  bottom: 0px;
  padding-left: 10px;
  height: 1.5em;
  /* background-color: yellow; */
  border-top: 1px solid lightgray;

}
*:focus {outline: none;}
.room form input[type="text"] {
  height: 100%;
  width: 100%;
  border: 0;
}

